<p-tabView>
    <p-tabPanel header="Settings">
        <p-accordion>
            <p-accordionTab header="Branches">
                <p-card>
                    <div class="text-center">
                        <label>Branch</label>
                        <input pInputText class="ml-2">
                        <button pButton icon="pi pi-plus" class="p-button-text p-button-rounded ml-2"></button>
                    </div>
                </p-card>
            </p-accordionTab>
            <p-accordionTab header="Sections" class="mt-4">
                <p-card>
                    <div class="text-center">
                        <label>Branch</label>
                        <p-dropdown class="ml-2"></p-dropdown>
                        <label class="ml-4">Section</label>
                        <input pInputText class="ml-2">
                        <button pButton icon="pi pi-plus" class="p-button-text p-button-rounded ml-2"></button>
                    </div>
                </p-card>
            </p-accordionTab>
        </p-accordion>
    </p-tabPanel>
    <p-tabPanel header="Students">
    </p-tabPanel>
    <p-tabPanel header="Faculty">
    </p-tabPanel>
</p-tabView>